<div id="chat-form">
    <div id="menu">
        <p class="welcome">Welcome, <strong class="username-box"></strong>!</p>
        <p class="logout"><input type="button" id="exit-btn" class="btn" value="Sign out" /></p>
        <p class="logout"><input type="button" id="register-btn" class="btn" value="Register" /></p>
        <div class="clearfix"></div>
    </div>
    <div id="chatbox"></div>
    <input name="userTitle" type="text" id="userTitle" size="40" placeholder="Title" />
    <input name="usermsg" type="text" id="usermsg" size="63" placeholder="Message" />
    <input type="button" id="submitmsg" class="btn" value="Send" />
</div>