<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStringOperations" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:26606/StringService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStringOperations"
                contract="StringOperations.IStringOperations" name="BasicHttpBinding_IStringOperations" />
        </client>
    </system.serviceModel>
</configuration>