<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MongoChat.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MongoChat.Data.Properties.Settings>
            <setting name="MongoDBDefaultDatabase" serializeAs="String">
                <value>mongo_chat</value>
            </setting>
            <setting name="MongoDBLocalServer" serializeAs="String">
                <value>mongodb://localhost</value>
            </setting>
            <setting name="MongoDBCloudServer" serializeAs="String">
                <value>mongodb://telerik:12345678@ds052827.mongolab.com:52827/mongo_chat</value>
            </setting>
        </MongoChat.Data.Properties.Settings>
    </userSettings>
</configuration>