body {
    background-color: ActiveCaption;
    text-align: center;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

    #wrapper div {
        text-align: left;
    }

#canvas {
    background-color: white;
    width: 1000px;
    height: 600px;
}

.info {
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}

    .info span {
        display: inline-block;
        width: 110px;
        text-align: right;
    }

    .info input[type="text"] {
        width: 30px;
        margin-right: 10px;
    }

#colors.info {
    text-align: center;
}

button {
    background-color: #18bb24;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border-color: #18bb24;
    display: inline-block;
    width: 200px;
    margin-right: 15px;
}

button {
    margin-top: 10px;
}

    button:hover {
        background-color: #41ef17;
    }
