html,
body,
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Corbel;
    font-size: 14px;
    color: #000;
}

    body #root {
        width: 350px;
        margin-left: 5px;
        margin-top: 5px;
        border-top: 3px solid #000;
        border-left: 3px solid #000;
        border-top-left-radius: 15px;
        position: relative;
    }

        body #root > h1 {
            margin-top: 15px;
            margin-left: 70px;
            font-weight: bold;
            font-size: 1.9em;
        }

        body #root .widget {
            width: 260px;
            padding: 15px;
            margin-top: 20px;
            margin-left: 25px;
            border: 1px solid #000;
            border-radius: 5px;
            background: #cbf7be;
            /* Old browsers */
            background: -moz-linear-gradient(top, #cbf7be 10%, #e5d96e 60%);
            /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #cbf7be), color-stop(60%, #e5d96e));
            /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #cbf7be 10%, #e5d96e 60%);
            /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #cbf7be 10%, #e5d96e 60%);
            /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #cbf7be 10%, #e5d96e 60%);
            /* IE10+ */
            background: linear-gradient(to bottom, #cbf7be 10%, #e5d96e 60%);
            /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbf7be', endColorstr='#e5d96e', GradientType=0);
            /* IE6-9 */
            text-align: right;
        }

        body #root > div label {
            font-weight: bold;
        }

        body #root > div #tb-fname,
        body #root > div #tb-lname {
            width: 160px;
            padding: 5px 0 5x 15px;
            border-top: 3px solid #86A37D;
            border-left: 3px solid #86A37D;
            border-right: 3px solid #CBF7BE;
            border-bottom: 3px solid #CBF7BE;
            border-radius: 5px;
        }

        body #root > div ul {
            list-style-type: none;
        }

.dropdown {
    position: relative;
}

    .dropdown ul {
        position: absolute;
        display: none;
    }

    .dropdown:hover ul {
        display: block;
    }

    .dropdown ul li {
        display: block;
    }
