html, body, div, h1, h2, h3, h4, h5, h6, img, p, ul, li, a, span, hgroup {
    margin: 0;
    padding: 0;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 16px;
    color: #000;
}

    body #wrapper {
        width: 960px;
        margin-top: 20px;
        margin-left: 20px;
        position: relative;
        display: block;
        zoom: 1;
    }

        body #wrapper:after {
            content: "";
            display: block;
            clear: both;
            height: 0;
        }

#wrapper > div {
    display: inline-block;
    width: 140px;
    float: left;
    border: 1px solid #D3D7DA;
    padding: 10px 4px 0px 4px;
    border-top: 2px solid #D3D7DA;
    border-bottom: 2px solid #D3D7DA;
    margin: 0;
}

div#wrapper > div:first-of-type {
    border-left: 2px solid #D3D7DA;
}

#wrapper > div:nth-child(2n) {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 20%, #f1f2f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffffff), color-stop(100%,#f1f2f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 20%,#f1f2f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 20%,#f1f2f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 20%,#f1f2f3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 20%,#f1f2f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f2f3',GradientType=0 ); /* IE6-9 */
    height: 270px;
    border-left: 2px solid #D3D7DA;
	border-right: 2px solid #D3D7DA;
}

#wrapper > div:nth-child(2n + 1) {
    height: 250px;
}

div#wrapper div:nth-of-type(1) hgroup {
    background: url('imgs/install.png') no-repeat;
}

div#wrapper div:nth-of-type(2) hgroup {
    background: url('imgs/tuneUp.png') no-repeat;
}

div#wrapper div:nth-of-type(3) hgroup {
    background: url('imgs/manage.png') no-repeat;
}

div#wrapper div:nth-of-type(4) hgroup {
    background: url('imgs/openSource.png') no-repeat;
}

div#wrapper div hgroup {
    background-position: left bottom !important;
    padding-left: 40px;
    height: 40px;
    display: table-cell;
    vertical-align: bottom;
}

div#wrapper div:nth-of-type(5) hgroup {
    background: url('imgs/twitter.png') no-repeat;
}

div#wrapper div:nth-of-type(6) hgroup {
    background: url('imgs/about.png') no-repeat;
}

a {
    display: block;
    text-decoration: none;
    color: #C72D2F;
}
p{
	margin-bottom: 5px;
    margin-top: 15px;
}
.yellowBox{
	border: 1px solid yellow;
	background-color: #FFFFDD;
}
.yellowBox a{
	display: inline-block;
}
div a span{
	text-transform: uppercase;
}